---
ansible_become: true
ansible_become_method: sudo

# General
DOMAIN: # TODO

# Docker Apps
PIHOLE_PASSWORD: # TODO
QNAP_USERNAME: # TODO
QNAP_PASSWORD: # TODO
HOMEASSISTANT_PG_USER: 'homeassistant_user'
HOMEASSISTANT_PG_PASSWORD: # TODO
TRAEFIK_CF_DNS_API_TOKEN: # TODO
TRAEFIK_CF_API_EMAIL: # TODO

# TODO: Vault
