*.env
docker-apps/networking/traefik/certs/*
docker-apps/automation/homeassistant/config/*
*.log
!docker-apps/security/authentik/docker-compose.yaml
!docker-apps/security/authentik/README.md
docker-apps/security/authentik/*
docker-apps/monitoring/monitoring/*
.vscode
etc-*